body{
    background-color: #ecf0f1;
    font-family: 'Balthazar', serif;
}

#container{
    display: grid;
    grid-gap: 20px;
    padding-left: 25px;
    padding-right: 25px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "h h" "i i" "b b" "p p"
}

#title{
    grid-area: h;
    color: #3498db;
    font-size: 7vw;
    margin: auto;
}

#input{
    grid-area: i;
    background-color: #ffffff;
    padding: 2%;
    font-size: 1.5vw;
    text-align:center;
}

#posts{
    
    grid-area: p;
}

#postbtn{
    grid-area: b;
    padding: 2%;
    background-color: #3498db;
    border: 1px solid #2980b9;
    box-shadow: 1px 1px 5px #2c3e50;
    cursor: pointer;
    display: flex;
    font-size: 2.5vw;
    width: 10%;
    margin: auto;
    justify-content: center;
}

.post{
    position: relative;
    background-color: #a8d1dc;
    box-shadow: 1px 1px 3px;
    margin: 2%;
    border-radius: 5px;
    padding: 2%;
}

.post-hidden{
    display: none;
}

#postbtn:active{
    background-color: #2980b9
}

.post-text{
    word-wrap: break-word;
    max-width: 100%;
    font-weight: bold;
    font-size: 1.7em;
    margin: 0.7em;
}


.commentsContainer{
    margin: 1em;
    border-radius: 10px;
}

.commentLine{
    display: flex;
    margin-bottom: 0.5em;
    align-items: flex-start;
    background-color:  #d4e2e6;
    padding: 0.3em;
    border-radius: 3px;
}

 .comment-text{
    max-width: 90%;
    display: inline-block;
    padding-left:0.4em;
    color: #00206b;
    word-wrap: break-word;
    font-size: 1em;
 }
 
.comment-input{
    margin-left: 1.5em;
    background-color: #d2e2d3;
    border: 1px solid #7ab07a;
    font-size: 0.7em;
    padding:0.4em;
}

.comment-btn{
    grid-area: b;
    background-color: #62d065;
    border: 1px solid #a2d2a3;
    border-radius: 0.2em;
    box-shadow: 1px 1px 3px #2c5036;
    cursor: pointer;
    justify-content: center;
    font-size: 0.6em;
    margin-left: 0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.delete-comment{
    display: inline-block;
    cursor: pointer;
    color: #ecf0f1;
    background-color: #e66152;
    padding: 0.2em;
    border-radius: 4px;
    font-size: 0.8em;
    align-self: center;
    margin-right:  0.4em;
}


.delete-post{
    cursor: pointer;
    color: #e74c3c;
    position: absolute;
    top: 1%;
    right:1%;
    padding: 1%;
    border-radius: 5px;
    font-size: 0.8em;
}
