body{
    display: flex;
    justify-content: center;
    background-color: #ecf0f1;
    font-family: 'Balthazar', serif;
}


#container{
    display: grid;
    grid-gap: clamp(0.3em, 2vh, 1em);
    padding-left: 1em;
    padding-right: 1em;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "h h"
    "i i" 
    "b b" 
    "p p";
    max-width: clamp(50px, 80vw, 500px);
}

#title{
    grid-area: h;
    margin: auto;
    color: #3498db;
    font-size: clamp(10px, 12vw, 50px);
    font-weight: bold;
}

#input{
    grid-area: i;
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
    background-color: #ffffff;
    padding: 1em;
    font-size: clamp(4px, 3vw, 15px);
    text-align:center;
}

#postbtn{
    display: flex;
    grid-area: b;
    margin: auto;
    padding: clamp(2px, 1.5vw, 7px);
    background-color: #3498db;
    border: 2px solid #2980b9;
    box-shadow: 2px 2px 5px #2c3e50;
    cursor: pointer;
    font-size: clamp(5px, 3vw, 15px);
    font-weight: bold;
    justify-content: center;
}

#postbtn:active{
    background-color: #2980b9;
    color: #8db8c4;
}

#posts{
    grid-area: p;
    margin-top: 1vh;
}

.post{
    margin-bottom: 1.5vh;
    position: relative;
    background-color: #a8d1dc;
    box-shadow: 1px 1px 3px;
    border-radius: 5px;
    padding: 3vw;
    padding-bottom: 4vw;
}

.post-hidden{
    display: none;
}

.post-text{
    margin:0;
    padding-bottom: 1vh;
    word-wrap: break-word;
    font-weight: bold;
    font-size: clamp(5px, 6vw, 25px);
}


.commentsContainer{
    padding-bottom: 1vw;
}

.commentLine{
    display: flex;
    margin-bottom: 0.5vh;
    align-items: flex-start;
    background-color:  #d4e2e6;
    padding: 0.3em;
    border-radius: 3px;
}

 .comment-text{
    display: inline-block;
    max-width: 90%;
    padding-left:0.4em;
    color: #00206b;
    word-wrap: break-word;
    font-size: clamp(3px, 3vw, 15px);
 }
 
.comment-input{
    background-color: #d2e2d3;
    border: 1px solid #7ab07a;
    font-size: clamp(5px, 1.5vw, 10px);
    padding:0.4em;
}

.comment-btn{
    grid-area: b;
    margin-left: 0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background-color: #62d065;
    border: 1px solid #a2d2a3;
    border-radius: 0.2em;
    box-shadow: 1px 1px 3px #2c5036;
    cursor: pointer;
    justify-content: center;
    font-size: clamp(5px, 1.5vw, 10px);
}

.comment-btn:active{
    background-color: #27a12b;
    color: #70ab72;
}


.delete-comment{
    display: inline-block;
    margin-right:  0.4em;
    cursor: pointer;
    color: #ecf0f1;
    background-color: #e66152;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.2em;;
    font-size: clamp(3px, 2.4vw, 10px);
    align-self: center;
}


.delete-post{
    cursor: pointer;
    color: #e74c3c;
    position: absolute;
    top: 0.1em;
    right:0.3em;
    padding: 0.2em;
    border-radius: 0.2em;;
    font-size: clamp(5px, 2.4vw, 15px);
}

/*Floating Back-To-Top Button*/
#home-btn {
    cursor: pointer;
    position: fixed;
    bottom: 1em;
    float: right;
    right: 0;
    max-width: 1.5em;
    width: 100%;
    font-size: 1em;
    border-color: rgba(85, 85, 85, 0.2);
    color: rgb(5, 0, 59);
    justify-items: center;
}
/*On Hover Color Change*/
#home-btn:hover {
    color: rgb(100,100,100);
}

